include ../mixins/edit-form

section.mt-5.pt-2.text-center
  h3
    a#domain(href='http://' + user.sub + '.' + domain, target='_blank') #{user.sub}.#{domain}
    |  currently points to 
    a#ip(href='http://' + user.ip, target='_blank') #{user.ip}

section.mt-5.mx-3.mb-5
  form(method='post', action='/')
    if errors && errors.ip
      .alert.alert-danger
        p #{errors.ip}

    .row
      .col-9
        input(type='text', value=ip != user.ip ? ip : '', placeholder='IP Address', name='ip', title='Valid IPv4 address', pattern='^(?:(?:2[0-4]\\d|25[0-5]|1\\d{2}|[1-9]?\\d)\\.){3}(?:2[0-4]\\d|25[0-5]|1\\d{2}|[1-9]?\\d)$', required, autofocus).form-control.form-control-lg
      .col-3
        button(type='submit').btn.btn-lg.btn-primary.btn-block Update

section#status
  article#spinner
    .double-bounce1
    .double-bounce2

  article#results.px-3.mb-5.card-group.text-center(style='display: none;')
    #dns.card.card-inverse.text-white.border-0(data-toggle='tooltip' title="These results are from Google's public DNS service")
      .card-body
        h4.card-title DNS
        p.card-text
    #ping.card.card-inverse.text-white.border-0(data-toggle='tooltip' title='Checks for a response from an ICMP echo request')
      .card-body
        h4.card-title Ping
        p.card-text
    #http.card.card-inverse.text-white.border-0(data-toggle='tooltip' title='Results of a HTTP GET request')
      .card-body
        h4.card-title HTTP
        p.card-text

.card.mx-3
  .card-block.p-3
    h4.card-title.mb-4.text-muted Settings

    +edit-form('text', 'sub', 'Subdomain', (body && body.sub) ? body.sub : user.sub, '2 to 63 characters; lowercase letters, numbers, dashes (-) and underscores (_). May not start with a dash', '^[a-z0-9_][a-z0-9_-]{0,61}[a-z0-9_]$', 'autofocus', '.' + domain, false, errors.sub)
    +edit-form('text', 'username', 'Username', (body && body.username) ? body.username : user.username, '2 to 63 characters; lowercase letters, numbers, dashes (-) and underscores (_). May not start with a dash or underscore', '^[a-z0-9][a-z0-9_-]{0,62}$', null, null, false, errors.username)
    +edit-form('password', 'password', 'Password', '', 'Minimum 8 characters', '^.{8,}$', null, null, true, errors.password)
    button.btn.btn-outline-danger.mt-3.float-right(data-toggle='modal', data-target='#deleteModal') Delete Account
    
#deleteModal.modal.fade(tabindex='-1', role='dialog', aria-hidden='true')
  .modal-dialog.modal-dialog-centered(role='document')
    .modal-content
      .modal-header
        h5.modal-title Delete Account
        button.close(type='button', data-dismiss='modal', aria-label='Close')
          span(aria-hidden='true') ×
      .modal-body
        p Are you sure you want to delete your account?
        p This will remove all of your DNS records and account details and cannot be undone.
      .modal-footer
        button.btn.btn-secondary(type='button', data-dismiss='modal') Cancel
        a#delete.btn.btn-danger(href='/delete') Delete Account

script(src='https://code.jquery.com/jquery-3.2.1.min.js', integrity='sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=', crossorigin='anonymous')
script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js', integrity='sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q' crossorigin='anonymous')
script(src='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js', integrity='sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl' crossorigin='anonymous')
script(src='/main.js')
