extends layout

block nav
  li.nav-item
    a(href='/').nav-link Home
  li.nav-item
    a(href='/login').nav-link Login
  li.nav-item
    a(href='/about').nav-link About

block content
  section.jumbotron.p-a-3
    form(method='post', action='/register').text-md-left
      if errors && errors.domain
        div.form-group.input-group-lg.has-danger
          div.input-group
            input(type='text', placeholder='Subdomain', name='sub', value=body.sub, title='Lowercase letters, numbers and dashes (-)', pattern='([a-z0-9-])+', required)#inputSubdomain.form-control.form-control-lg.form-control-danger
            span.input-group-addon .#{domain}
          div.alert.alert-danger #{errors.domain}
      else
        div.form-group.input-group.input-group-lg
          input(type='text', placeholder='Subdomain', name='sub', value=body.sub, title='Lowercase letters, numbers and dashes (-)', pattern='([a-z0-9-])+', required)#inputSubdomain.form-control.form-control-lg
          span.input-group-addon .#{domain}
          
      if errors && errors.email
        div.form-group.has-danger
          input(type='email', placeholder='Email Address', name='email', value=body.email, required, autofocus)#inputEmail.form-control.form-control-lg.form-control-danger
          div.alert.alert-danger #{errors.email}
      else
        div.form-group
          input(type='email', placeholder='Email Address', name='email', value=body.email, required, autofocus)#inputEmail.form-control.form-control-lg
        
      if errors && errors.password
        div.form-group.has-danger
          input(type='password', placeholder='Password', name='password', required)#inputPassword.form-control.form-control-lg.form-control-danger
          div.alert.alert-danger #{errors.password}
      else
        div.form-group
          input(type='password', placeholder='Password', name='password', required)#inputPassword.form-control.form-control-lg
        
      if errors && errors.password_confirm
        div.form-group.has-danger
          input(type='password', placeholder='Password Confirm', name='password_confirm', required)#inputPasswordConfirm.form-control.form-control-lg.form-control-danger
          div.alert.alert-danger #{errors.password_confirm}
      else
        div.form-group
          input(type='password', placeholder='Password Confirm', name='password_confirm', required)#inputPasswordConfirm.form-control.form-control-lg
          
      button(type='submit').btn.btn-lg.btn-primary.btn-block Register
