mixin textbox(type, name, placeholder, value, title, pattern, required, autofocus, style, addon, error)
  input(type=type, name=name, placeholder=placeholder, value=value, title=title, pattern=pattern, required=required, autofocus=autofocus, class=style).form-control
  if addon
    span.input-group-addon #{addon}
  if error
    div.alert.alert-danger #{error}
